<div class="container-fluid">
  <div style="margin: 10px 0;">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="text-center">痕迹</th>
        </tr>
      </thead>
      <tbody id="words">
          <%= render @words %>
          <div id="paginator">
            <%= paginate @words, remote: true %>
          </div>
      </tbody>
    </table>
  </div>
  <div>
    <%= render partial: 'new' %>
  </div>
</div>
