<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 pull-left">
      <%= render partial: 'new' %>
    </div>
    <div class="col-md-8" style="margin: 10px 0;">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="text-center">痕迹</th>
          </tr>
        </thead>
        <tbody>
          <% @words.each do |word| %>
            <tr>
              <td class=<%= word_color %>>
                <span><%= word.body %></span>
                <span class="pull-right"><%= word.created_at.to_date.to_s %></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
