<div style="margin: 10px 0;">
  <%= form_tag "/admin/settings", method: :post do %>
    <%= text_field_tag "var", nil, placeholder: "键" %>
    <%= text_field_tag "value", nil, placeholder: "值" %>
    <%= submit_tag "增加(修改)" %>
  <% end %>
</div>
