.form-group
  = f.text_field :title, placeholder: I18n.t('post.title'), class: "form-control"
.form-group
  = f.text_area :content, placeholder: I18n.t('post.content'), autofocus: true, rows: 20, id: "editor", class: "form-control"
.form-group
  = link_to t('post.preview'), "#", :'data-toggle' => 'modal', :'data-target' => '#preview_post', class: 'btn btn-default pull-left'
  = f.submit t('post.submit'), class: 'btn btn-default pull-right'
  
javascript:
    var editor = new Simditor({
      textarea: $('#editor'),
      toolbar: ['title','bold','italic','underline','strikethrough','color','|','ol','ul','blockquote','code','table','|','link','image','hr'],
      placeholder: '请输入正文...',
      defaultImage: '/image.png',
      filekey: 'file',
      upload: {
        url: '/photo',
        params: null,
        connectionCount: 3,
        leaveConfirm: '正在上传文件，如果离开上传会自动取消',
      },
      pasteImage: true
    })
