#header {
  padding: 10px 0;
  margin: 0 auto;
  max-width: 720px;
  nav {
    padding: 20px 0;
    a{
      font-size: 1em;
      color: #444;
      margin-right: 15px;
      padding-bottom: 3px;
      border-bottom: 2px solid transparent;
      &:hover{
        border-color: rgba(0, 125, 125, .8);
        text-decoration: none;
      }
    }
  }
}



// home index page
#home-index{
  max-width: 720px;
}
