/*
  *= require_self
*/
@import 'bootstrap';

body { 
  background-color: #e9eaed;
  color: #333;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   14px;
  line-height: 18px;
}

nav {
  .container {
    .collapse {
      .nav-item {
        .nav-link {
          padding: 14px 6px;
        }
      }
    }
  }
}


#admin-header {
  padding: 10px 0;
  margin: 0 auto;
  max-width: 720px;
}



// home index page
#home-index{
  max-width: 720px;
}

// admin session page
#admin-session {
  max-width: 400px;
  margin: 0 auto;
  .form-group {
    label { margin-right: 10px; }
  }
}

.admin_user_form {
  padding-top: 10px;
  border: 1px solid #ddd;
}

.admin_user_index{
  img { border-radius: 30px; }
}

/* admin layouts */

