/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import 'bootstrap';
@import 'posts';
@import 'admin';
@import 'simditor';
@import 'simditor/simditor-emoji';
@import 'nprogress';

@mixin small-text {
  color: #999;
  font-size: 10px;
}

html, body, #container, #sidebar, #contents{
  height: 100%;
}

body{
  //background: #e9eaed;
  background:#fff none repeat scroll 0% 0%;
  padding: 0;
  margin: 0;
}

header {
  border-bottom: 1px solid #eee;
  #header {
    max-width: 580px;
    margin: 0 auto;
    .logo{
      text-align: center;
      margin-top: 5px;
      a {
        font-size: 1.2em;
        color: #444;
        padding: 5px 10px;
        transition: all .25s ease-in;
        &:hover{
          background: rgba(0, 125, 125, .8);
          color: #fff;
          text-decoration: none;
        }
      }
    }
    nav {
      padding: 0 0 25px 0;
      a{
        font-size: 1.2em;
        color: #444;
        margin-right: 15px;
        padding-bottom: 3px;
        border-bottom: 2px solid transparent;
        &:hover{
          border-color: rgba(0, 125, 125, .8);
          text-decoration: none;
        }
      }
    }
  }
}

.updated_at:after{
  content: " — ";
}

.alert {
  max-width: 580px;
  margin: 0 auto;
}

#about{
  max-width: 580px;
  margin: 0 auto;
  .about-title{
    font-size: 20px;
    margin: 20px 0;
    padding: 14px 0 12px 0;
    img{
      border-radius: 100%;
      margin-right:40px;
    }
  }
  .about-title, .about-body{
    border-bottom: 1px solid #eee;
  }
  .about-body, .about-contact{
    section{margin:10px 0;}
  }
  a{
    opacity: .6;
    &:hover{
      text-decoration: none;
      opacity: 1;
    }
  }
}

footer {
  border-top: 1px solid #eee;
  margin: 5px 0;
  #footer{
    max-width: 580px;
    margin: 0 auto;
    padding: 20px 0;
    @include small-text;
  }
}
